.container {
  width: 35%;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.containerCommander {
  width: 415px;
  height: 900px;
  background-color: black;
  margin: auto;
}
