.container {
  color: white;
  flex: 1;
  display: flex;
  position: relative;
}

.lifeCounter {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}

.increment {
  position: absolute;
  top: 20%;
  left: 47%;
}
